**/*.ts
!**/*.d.ts
node_modules/
tsconfig.json
webpack.config.js
version.properties
.gitreview
.gitattributes
.idea/
.gitignore
npm-debug.*
INFO.yaml
sdc-pubsub.iml
node/
pom.xml
/coverage/
/jest.config.js
/target/
